.banner {
    height: 613px;
    background: #e8e8e8;

    &__container {
        height: 100%;
        background-image: url(img/Banner.png);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: 30%;
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        gap: 12px;

        &__line {
            width: 12px;
            background-color: #f16d7f;
        }

        &__text {
            color: #222222;
            font-weight: 900;
            font-size: 60px;
            line-height: 1;
            letter-spacing: 1.5px;

            &__small {
                font-size: 40px;
                line-height: 1.8;
                letter-spacing: 1px;
            }

            &__red {
                color: #f16d7f;
            }
        }
    }
}

.offers {
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
    padding-bottom: 93px;

    &__group {
        width: 49%;

        a {
            text-decoration: none;
        }

        &__block {
            background-repeat: no-repeat;
            padding-top: 25px;
            box-sizing: border-box;

            &__1 {
                height: 542px;
                background-image: url(img/For_Men.png);
                margin-bottom: 20px;
            }

            &__2 {
                height: 240px;
                background-image: url(img/Accesories.png);
                background-position: right bottom;
            }

            &__3 {
                height: 261px;
                background-image: url(img/For_Women.png);
                margin-bottom: 20px;
                background-position-y: 28%;
            }

            &__4 {
                height: 542px;
                background-image: url(img/For_Kids.png);
            }

            &__content {
                height: 82px;
                width: max-content;
                background: #ffffff;
                padding: 12px 16px 10px 18px;
            }

            &__heading {
                font-size: 18px;
                font-weight: 900;
                line-height: 2;
                letter-spacing: 0.45px;
                color: #222222;
                text-decoration: none;
            }

            &__text {
                font-size: 30px;
                font-weight: 900;
                letter-spacing: 0.75px;
                color: #f16d7f;
                text-decoration: none;
            }
        }
    }
}

.advantages {
    display: flex;

    &__banner {
        position: relative;

        &__text {
            position: absolute;
            top: 132px;
            left: 37px;
            font-size: 54px;
            font-weight: bold;
            line-height: 2;
            letter-spacing: 1.34px;
            color: #ffffff;

            &__red {
                color: #f16d7f;
            }

            &__small {
                font-size: 32px;
                line-height: 2;
                letter-spacing: 0.8px;
            }
        }
    }

    &__content {
        background-color: #222224;
        height: 532px;
        padding: 48px 26px 64px 36px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__block {
            display: flex;
            gap: 32px;

            &__icon {
                object-fit: contain;
                align-self: flex-start;
            }

            &__heading {
                font-size: 20px;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 0.5px;
                color: #fbfbfb;
                margin-top: 3px;
                margin-bottom: 13px;
            }

            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                letter-spacing: 0.35px;
                color: #fbfbfb;
            }
        }
    }
}