.banner {
  height: 613px;
  background: #e8e8e8;
}

.banner__container {
  height: 100%;
  background-image: url(img/Banner.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.banner__content__line {
  width: 12px;
  background-color: #f16d7f;
}

.banner__content__text {
  color: #222222;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 1.5px;
}

.banner__content__text__small {
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.banner__content__text__red {
  color: #f16d7f;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 98px;
  padding-bottom: 93px;
}

.offers__group {
  width: 49%;
}

.offers__group a {
  text-decoration: none;
}

.offers__group__block {
  background-repeat: no-repeat;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offers__group__block__1 {
  height: 542px;
  background-image: url(img/For_Men.png);
  margin-bottom: 20px;
}

.offers__group__block__2 {
  height: 240px;
  background-image: url(img/Accesories.png);
  background-position: right bottom;
}

.offers__group__block__3 {
  height: 261px;
  background-image: url(img/For_Women.png);
  margin-bottom: 20px;
  background-position-y: 28%;
}

.offers__group__block__4 {
  height: 542px;
  background-image: url(img/For_Kids.png);
}

.offers__group__block__content {
  height: 82px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #ffffff;
  padding: 12px 16px 10px 18px;
}

.offers__group__block__heading {
  font-size: 18px;
  font-weight: 900;
  line-height: 2;
  letter-spacing: 0.45px;
  color: #222222;
  text-decoration: none;
}

.offers__group__block__text {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #f16d7f;
  text-decoration: none;
}

.fetured a {
  text-decoration: none;
}

.fetured__heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.75px;
  text-align: center;
  color: #222222;
}

.fetured__text {
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 59px;
}

.fetured__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 39px;
}

.fetured__article a {
  text-decoration: none;
}

.fetured__article__card {
  padding-bottom: 20px;
  width: 261px;
  position: relative;
}

.fetured__article__card__image {
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fetured__article__card__fon {
  height: 280px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(58, 56, 56, 0.83);
  display: none;
}

.fetured__article__card__text {
  font-size: 13px;
  line-height: 1.2;
  color: #222222;
  margin: 16px 14px 12px;
}

.fetured__article__card__price {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #f16d7f;
  margin-left: 14px;
}

.fetured__article__card__cart {
  width: 123px;
  height: 39px;
  position: absolute;
  top: 98px;
  left: 70px;
  border: solid 1px #ffffff;
  padding-left: 12px;
  padding-right: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.fetured__article__card__cart__image {
  height: 22px;
}

.fetured__article__card__cart:hover {
  width: 125px;
  height: 41px;
  top: 97px;
  left: 69px;
  background-color: #f16d7f;
}

.fetured__article__card__cart__text {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}

.fetured__article__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.fetured__article__card:hover .fetured__article__card__fon {
  display: block;
}

.fetured__article__card:hover .fetured__article__card__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured__browse {
  height: 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 19px;
  background-color: #f16d7f;
  color: #ffffff;
  margin: 58px auto 113px;
  border: 1px solid #f16d7f;
}

.fetured__browse__text {
  font-size: 16px;
  font-weight: bold;
  line-height: 3.38;
  letter-spacing: 0.4px;
  text-align: center;
}

.fetured__browse:hover {
  background-color: #FFFFFF;
  color: #f16d7f;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__banner {
  position: relative;
}

.advantages__banner__text {
  position: absolute;
  top: 132px;
  left: 37px;
  font-size: 54px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 1.34px;
  color: #ffffff;
}

.advantages__banner__text__red {
  color: #f16d7f;
}

.advantages__banner__text__small {
  font-size: 32px;
  line-height: 2;
  letter-spacing: 0.8px;
}

.advantages__content {
  background-color: #222224;
  height: 532px;
  padding: 48px 26px 64px 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.advantages__content__block__icon {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.advantages__content__block__heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #fbfbfb;
  margin-top: 3px;
  margin-bottom: 13px;
}

.advantages__content__block__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #fbfbfb;
}
/*# sourceMappingURL=index.css.map */